@import '../../assets/variables.scss';

.login-page {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.login-data {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  background-color: #a1844b0a;

  &__form {
    width: 400px;

    &__title {
      font-size: 30px;
    }

    &__button {
      width: 100%;
    }

    &__alert {
      margin-bottom: 24px;
    }
  }
}

.login-image {
  background-image: url('../../assets/images/login.jpg');
  width: 60%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
